

h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.navbar {
  list-style-type: none;
  border-top:1px solid rgb(223, 219, 219);
  border-bottom:1px solid rgb(223, 219, 219);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.nav-items {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}

a {
  color:black;
  text-decoration: none;
}

a:hover {
  color: rgb(108, 107, 107);
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size:2.2rem;
  padding-top: 4rem;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.card-title{
  font-size: 1.5rem;
}

.card {
  margin: 1rem;
  border: 1px solid rgb(223, 219, 219);
  padding: 1rem;
}